.App {
  text-align: center;
}
.DApp {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.DApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/**@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}**/
.search-bar {
  overflow:hidden;
  background-color: #e9e9e9;
  position: absolute;
  top: 5%;
  width: 80%;
  height: 8%;
}

.search-bar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.search-bar a:hover {
  background-color: #ddd;
  color: black;
}
.search-bar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  
  font-size: 17px;
  margin-left: 400px;
}
.search-bar input[type=text] {
  border: 1px solid #ccc;
}
#log-in:hover {
  background-color: green;

}
#log-in {
  font-size: 20px;
  position:center;
  float: left;
  
  height:50px;
}
.NITT-link {
  font-size: 20px;
  
}
.Log-in {
  color: green;
}
.sign-up {
  color: green;
}
.go {
  font-size: 15px;
  position: relative;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 25px;
}